@model List<Laptop>
@{
    ViewData["Title"] = "Laptops by brand";
}

<h1>Laptops by Brand</h1>
@if (Model.Count() > 0) 
{
    <h2>@ViewBag.Brand laptops @ViewBag.OrderMode</h2>
    @if (!string.IsNullOrWhiteSpace(ViewBag.YearFilter) || !string.IsNullOrWhiteSpace(ViewBag.PriceFilter)) 
    {
        <h3>Filter(s):</h3>
    }
    @if (!string.IsNullOrWhiteSpace(ViewBag.YearFilter)) 
    {
        <p class="px-5">@ViewBag.YearFilter</p>
    }
    @if (!string.IsNullOrWhiteSpace(ViewBag.PriceFilter)) 
    {
        <p class="px-5">@ViewBag.PriceFilter</p>
    }
    <table class="table">
        <thead>
            <tr>
                <th>Model Name</th>
                <th>Price</th>
                <th>Release Year</th>
                <th>Brand</th>
            </tr>
        </thead>
        <tbody>
        @foreach(Laptop laptop in Model) 
        {
            <tr>
                <td>@laptop.Model</td>
                <td>$@laptop.Price</td>
                <td>@laptop.Year</td>
                <td>@laptop.Brand.Name</td>
            </tr>
        }
        </tbody>
    </table>
} else 
{
    <h2>Nothing found. Please try again or add some new entries to the Laptops table.</h2>
}
